button, hr, input {
  overflow: visible;
}

audio, canvas, progress, video {
  display: inline-block;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}
ul,li{
  list-style: none;
}

/* end normalize */

:root {
  font-size: 10px;
  --primaryColor: rgba(63, 21, 79, 1); /* #3F154F */
  --secondaryColor: rgba(228, 0, 43, 1); /* #E4002B */
  --light: rgba(248, 248, 248,1); /* #F8F8F8 */
  --dark: rgba(80, 80, 80,1);
  --dark-80: rgba(80, 80, 80,0.8);
}

/* typography start */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"), url("../fonts/work-sans-v3-latin-regular.woff2") format("woff2"), url("../fonts/work-sans-v3-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body, html {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--dark);
  background-color: var(--light);
}

h1 {
  font-family: 'Nunito', serif;
  font-weight: 600;
  font-size: 8rem;
}

h2 {
  font-family: 'Nunito', serif;
  font-weight: 600;
  font-size: 4rem;
}

h3 {
  font-family: 'Nunito', serif;
  font-weight: 600;
  font-size: 3rem;
}
/* typography end */

/* utilities start */
.textprimary {
  color: var(--primaryColor);
}

.textsecondary {
  color: var(--secondaryColor);
}

.textlight {
  color: var(--light);
}

.textdark {
  color: var(--dark);
}

.smallcaps {
  font-variant: small-caps;
}

.textcenter {
  text-align: center;
}

.bglight {
  background-color: var(--light);
}

.bgdark {
  background-color: var(--dark);
}

.bgprimary {
  background-color: var(--primaryColor);
}

.bgsecondary {
  background-color: var(--secondaryColor);
}

.fullwidth {
  width: 100vw;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* utilities end */
/* pushbar start */
.pushbar.opened{
display: block;
}

html.pushbar_locked{
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}


.pushbar_locked .pushbar_main_content.pushbar_blur{
	filter:blur(15px);
}
.pushbar{
	z-index: 1000;
	position: fixed;
	will-change: transform;
	overflow-y: auto;
	transition:transform 0.5s ease;
	will-change: transform;
	background:#fff;
}
.pushbar_overlay{
	z-index: -999;
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
    will-change: opacity;
    transition:opacity 0.5s ease;
    opacity:0;
    will-change: opacity;
	background: #3c3442;
}
html.pushbar_locked .pushbar_overlay{
	opacity:0.8;
	z-index: 999;
    transition:opacity 0.5s ease;
}


.pushbar.from_left{
	top: 0;
	left: 0;
	width: 256px;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	transform: translateZ(0) translateX(-100%);
}

.pushbar.from_right{
	top: 0;
	right: 0;
	width: 256px;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	transform: translateZ(0) translateX(100%);
}

.pushbar.from_top{
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	min-height: 150px;
	transform: translateZ(0) translateY(-100%);
}
.pushbar.from_bottom{
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	min-height: 150px;
	transform: translateZ(0) translateY(100%);
}

.pushbar.opened{
   transform: translateX(0px) translateY(0px);
}
/* pushbar end */

.hero-area {
  display: grid;
  grid-template-columns: 1fr 30rem 1fr;
  grid-template-rows: 1fr 30rem 1fr;
  width: 100%;
  height: 50rem;
  background-image: url(../img/ms-logo-pattern.svg);
  background-size: 6rem;
}

.hero-logo{
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background-color: var(--light);
  display: grid;
  align-items: center;
  justify-items: center;
}

.logo{
  /* margin: 2rem; */
  width: 20rem;
  /* text-align: center; */
}
